.contenedor-footer{
    margin-top: 20px;
    background-color: rgb(209, 207, 204);
}

.titulo-enlace{
    margin-right: 100px;
}

.contenedor-logo-lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;           
}

.contenedor-logo-lista img{
    width: 200px;
}

.contenedor-listado{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.titulo-enlace{
    font-weight: bold;
}

.contenedor-listado ul {
    list-style: none;
}
.contenedor-listado ul li a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.contenedor-listado ul li a:hover{
    font-weight: bold;
    color: rgb(3, 0, 167);
}


.logos-redes img{
    width: 30px;
    padding-left: 30px;
}
.contenedor-redes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.redes:hover{
    transform: scale(1.1);
}


.copyrigth{
    margin-right: 50px;
}